/* Default styles */
.App {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
    margin: 0 10px;
}

h1 {
    font-size: 24px;
}

input[type='text'],
input[type='password'],
button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    /* Adjust colors here */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    /* Adjust button color */
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Active color */
.activeColor {
    color: blue;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    h1 {
        font-size: 20px;
    }

    input[type='text'],
    input[type='password'],
    button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    /* Further adjust styles for smaller screens */
    input[type='text'],
    input[type='password'],
    button {
        font-size: 14px;
    }
}
